/* 重設
--------------------------------------------------- */
html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input { margin: 0; padding: 0; }
h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,code,em,th { font-size: 1em; font-weight: normal; font-style: normal; }
abbr,acronym { border: 0; }
ul,ol { list-style: none; }
fieldset,img { border: none; }

/* 基本
--------------------------------------------------- */
body {
	font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
	color:#000; background-color:#f1f0ed; 
	overflow-x: hidden;
}
	
.clear { clear:both;}

.logo a {
		width:100%; 
		height:33px;
		background:url(../images/logo.png) no-repeat center;
		display:block; 
		text-indent:-9999px;
		position:absolute; top:5px;
		z-index:99;
		}

.cfa {
	width:95%; 
	margin:0 auto ;
	padding-left:16px;
	margin-bottom:15px;
	}
	.cfa li{
			width:95%; 
			height:30px;
			border:1px #000 solid; 
			float:left; 
			margin-bottom:8px;
			}
	.cfa li a{ 
			color:#000; 
			padding:3px; 
			text-align:center;
			line-height:25px; 
			display:block; 
			text-decoration:none;
			}

#btn_open{
			width:90.5%;
			margin-left:16px;
			height:30px;
			border:1px #000 solid; 
			float:left; 
			margin-bottom:8px;
			background: url(../images/mobile/m_open.jpg) right no-repeat; 
			}
 	#btn_open a{
			color:#000; 
			padding:3px; 
			text-align:center;
			line-height:25px; 
			display:block; 
			text-decoration:none;
			}

.sharing{
		width:95%;
		float:left;
		margin-left:16px;
		margin-bottom:20px;
		}
	.sharing li.title{
				width:90%;
				margin-right:8px;
				border:none;
				font-weight:bold;
				margin-bottom:12px;
				}
	.sharing li.title hr{ width:65%; float:right; border:0; height:1px; background-color:#d4d4d4;	color:#d4d4d4	/* IE6 */}

	.sharing li{
			width:45%;
			border:1px #999 solid; 
			float:left; 
			margin-right:8px;
			margin-bottom:8px;
			
			}
	.sharing li span{margin-right:3px;}
	.sharing li a{ padding:5px; line-height:22px; text-decoration:none; color:#000; padding-left:12px; }



.sponsor{ 
		width:95%;
		margin-bottom:20px;
		margin-left:16px;
		}
	.sponsor li.title{
				width:90%;
				margin-right:8px;
				border:none;
				font-weight:bold;
				margin-bottom:12px;
				}
	.sponsor li.title hr{ width:70%; float:right; border:0; height:1px; background-color:#d4d4d4;	color:#d4d4d4	/* IE6 */}

	.sponsor li{ 
				font-size:13px;
				font-family:"微軟正黑體", "Arial Unicode MS";
				margin-right:8px;
				float:left;
				}













